# Security (CRITICAL - Keeps your API Key off GitHub)
.env
backend/.env
frontend/.env

# Python (Keep your local environment out)
venv/
backend/venv/
__pycache__/
*.py[cod]
db.sqlite3

# React / Node (This folder is huge; Vercel will build it for you)
node_modules/
frontend/node_modules/
dist/
build/
.DS_Store